<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0 my-5">

  <!--Footer Links-->
  <div class="container">

      <!--Grid row-->
      <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

          <!--Grid column-->
          <div class="col-md-2 mb-3">
              <h6 class="title font-bold"><a href="#">About</a></h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-2 mb-3">
              <h6 class="title font-bold"><a href="#">Contact Us</a></h6>
          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->


  </div>
  <!--/Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
      <div class="container-fluid">
          <a href="mobile"> www.Game.com </a>
      </div>
  </div>
  <!--/Copyright-->

</footer>
<!--/Footer-->